{% extends "layout_login.html" %}
{% block head %}
       {{ super() }}

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>body{
  background-color: black;
  color: white;
}
s1 {
padding-bottom: value;
    border-bottom-style: solid; border-bottom-color: grey;
}
.d2
  {border-style: outset;}


h5,p2{color:black}
  img {
  width: 200px;
  height: 100%;
  object-fit: cover;
}
</style>
 {% endblock %}   
 
{% block content %}
 <br><br>
  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
{% for event in events: %}

		<div class="">
						<div class="d2">
				<div class="card mb-3" style="max-width: 100%; background-color:black ;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='event_banner/' + event.banner_file) }}" class="card-img-top" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="color:white">
 
        <h2 class="card-title" >{{loop.index}}) <s1>{{event.title}}</s1></h2>
        <p class="card-text"><h4>{{event.description}}</h4></p>
        <ul class="list-group list-group-flush" >
    <li class="list-group-item list-group-item-primary">Date&Time: {{ event.dateTime.strftime("%d-%m-%Y @ %I:%M:%p")}}</li>

 <li class="list-group-item list-group-item-primary">Host:{{event.author.name}}</li> </ul>
<br>

     <a href={{ url_for('event',event_id=event.id)}} class="btn btn-outline-info btn-lg " style="float: right;" >View --> </a>

  </div> </div>
    </div>
  </div>
</div>
</div>
</div>
<br><br>
{% endfor %}



{% endblock content %}
