{% extends "layout_login.html" %}


{% block head %}

  {{ super() }}
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

<style>
.mySlides {display:none;}
img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.alert {
  padding: 20px;
    background-color: green;
      color: white;
      }
.closebtn {
  margin-left: 15px;
    color: white;
      font-weight: bold;
        float: right;
          font-size: 22px;
            line-height: 20px;
              cursor: pointer;
                transition: 0.3s;
                }
.closebtn:hover {
  color: white;
  }
</style>

{% endblock %} 



{% block bg %}
<style>
body {
  background-color: #000000;
  color: #ffffff;
}
h1 {
  color: #ffffff;
}
nav a {
  color: #ffffff;
}
footer {
  color: #ffffff;
}

</style>
{% endblock %}   






{% block content %}
  
  
  {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
<! -- notify......... -- >
 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
    </div>
    
  
  
  
  
  
  
  <h2 align="center"> Upcoming Events</h2>   
    <!..................slideshow...............>


<div class="w3-content w3-display-container">

<div class="w3-display-container mySlides">
  <img src="{{ url_for('static', filename='img.jpg') }}" style="width:100%">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    French Alps
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="{{ url_for('static', filename='img2.jpg') }}" style="width:100%">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Northern Lights
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="{{ url_for('static', filename='img1.jpg') }}" style="width:100%">
  <div class="w3-display-topleft w3-large w3-container w3-padding-16 w3-black">
    Beautiful Mountains
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="{{ url_for('static', filename='img5.jpg') }}" style="width:100%">
  <div class="w3-display-topright w3-large w3-container w3-padding-16 w3-black">
    The Rain Forest
  </div>
</div>

<div class="w3-display-container mySlides">
  <img src="{{ url_for('static', filename='img4.jpg') }}" style="width:100%">
  <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
    Mountains!
  </div>
</div>

<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

</div>





   








<! -- split join_create -- >

<br><br>
  <div class="container"> 
				<div class="row"> 
								<div class="col"> <div  style="width: 100%;color :#ffffff;">
  <img src="{{ url_for('static', filename='event1.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body" style:"background-color:#000000;">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div></div> 
<div class="col"> <div  style="width: 100%;color :#ffffff;">
  <img src="{{ url_for('static', filename='event1.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body" style:"background-color:#000000;">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush" style:"background-color:#444444;">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div></div> 
 
 
 
 
 
 
 
 
<script>

var slideIndex = 1;
showDivs(slideIndex);


function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
//automatic....
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3500); // Change image every 2 seconds
}
</script>



{% endblock content %}
