<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
     
    {% if title %}
        <title> eventPlanr - {{ title }}</title>
    {% else %}
        <title> eventPlanr</title>
    {% endif %}
    
    
 
 
 {% block head %}   
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% endblock %}   
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% block bg %}
{% endblock %}   
</head>
<body>
 <header>
      <div class="navbar">
            

        {% if current_user.is_authenticated %}
             <a class="active" href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i> Home</a>
             <a  href="{{ url_for('events') }}"><i class="fa fa-fw fa-rocket"></i> Join Events</a>
             <a  href="{{ url_for('host') }}"><i class="fa fa-fw fa-plus-circle"></i> Host Events</a>
             <div class="topnav-right">
                <a href="{{ url_for('myAccount') }}"><i class="fa fa-fw fa-user"></i> myAccount</a>
                <a href="{{ url_for('logout') }}"><i class="fa fa-fw fa-sign-out"></i> LogOut</a>
             </div>
        {% else %}
             <a class="active" href="/"><i class="fa fa-fw fa-american-sign-language-interpreting"></i> eventPlanr</a>
             <a  href="{{ url_for('events') }}"><i class="fa fa-fw fa-rocket"></i> Ongoing Events</a>
             <a  href="{{ url_for('host') }}"><i class="fa fa-fw fa-plus-circle"></i> Host Events</a>
             <div class="topnav-right">
                <a href="{{ url_for('login') }}"><i class="fa fa-fw fa-sign-in"></i> Sign In</a>
                <a href="{{ url_for('signUp') }}"><i class="fa fa-fw fa-user-plus"></i> Sign Up</a>
            </div>
        
        {% endif %}
    
            
      </div>
</header>

{% block content %}{% endblock %}



          



<script src="https://cdn.jsdelivr.net/gh/atoms19/dominity.js/dominityV2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

